/* Game Schedule [mstw_gs_styles] CSS Document 
 *
 ************************************************************
 *  THIS FILE IS THE DEFAULT FOR THE GAME SCHEDULES PLUGIN  *
 ************************************************************
 */
 
 p.sample-code {
	margin-bottom: .25em;
	font-family: serif;
	color: #666;  /* dark gray */
	font-size: .8em;
 }
 
/******************************************************
 * Styles for ALL OF GAME SCHEDULES (gs)           
 *****************************************************/ 
.gs-clear {
	clear: both;
}

.gs-divider {
	border-bottom: 2px solid #041E42;
}
 
/******************************************************
 * Styles for the SCHEDULE SLIDER SHORTCODE (gs-slider)           
 *****************************************************/

.gs-slider-area {
	width: 100%;
	/*height: 208px;*/
	line-height: 20px;
	/*margin-top: 20px;*/
	background-color: #fff;
}

.gs-slider {
	border: 1px solid #B5B5B5;
}

.gs-one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #D2CFCF;
	-moz-box-shadow: 0 8px 6px -6px #d2cfcf;
	box-shadow: 0 8px 6px -6px #D2CFCF;
}

.gs-slider .border {
	padding: 5px;
	background: #EAE7E7;
}

.gs-slider .box { /* WHY IS THIS NEEDED? */
	background-color: #fff;
}

.gs-slider .title {
	font-family: 'Roboto Condensed',Arial, sans-serif;
	font-weight: bold;
	color: #041E42;
	font-size: 18px;
	line-height: 20px;
	/*padding: 3px 6px 3px 6px;*/
	padding:6px;
	float: left;
}

.gs-slider .full-schedule-link {
	/*padding-left: 8px;
	padding-top: 3px;*/
	/*padding: 3px 6px 3px 6px;*/
	padding: 6px;
	line-height: 20px;
	color: #041E42;
	float: left;
}

.gs-slider .full-schedule-link  a {
	color: #041E42;
	font-family: 'Oswald',Arial, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}

.gs-slider .full-schedule-link  a:hover {
	text-decoration: none;
}

/*.gs-divider {
	margin-bottom: 10px;
}*/

.gs-slider .content {
	height: 178px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.gs-slider #schedule-slider {
	/*display: none;  ??  */
	padding-top: 10px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 3000px;
	height: 170px;
	overflow: hidden;
	/*background-color: #ddd;*/
}

#gs-slider-right-arrow, #gs-slider-left-arrow {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 10px;
	height: 170px;
	cursor: pointer;
	display: block;
	line-height: 170px;
	font-size: 36px;
	color: #666;
}

#gs-slider-right-arrow {
	right: 0;
}

#gs-slider-left-arrow {
	left: 0;
}

#gs-slider-left-arrow:hover, #gs-slider-right-arrow:hover {
	background-color: #efefef;
}

.gs-slider .game-block {
	float: left;
	margin: 0;
	background: rgba(0, 0, 0, 0);
	width: 187px;
	text-align: center;
	color: #231F20;
}

.game-block .date {
	width: 90%;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Roboto Condensed",Arial;
	font-weight: bold;
	/*height: 45px;*/
	/*line-height: 60px;*/
	border-bottom: 2px solid #F5C517;
	color: #041E42;
	margin-bottom: 10px;
}

.game-block img.mstw-gs-slider-logo {
	width: 80px;
	margin: 0 45px;
}

/*
.gs-slider .pad {
	width: 90%;
	margin: 0 auto;
}
*/

.pad {
	width: 90%;
	margin: 0 auto;
}

/*.gs-slider .opponent {*/
.game-block .opponent {
	font-size: 1.3em;
	/*height: 29px;*/
	/*line-height: 35px;*/
	color: #041E42;
	margin-bottom: 10px;
}

.game-block .location {
	font-size: 1.0em;
	line-height: 1.2em;
	margin-bottom: 10px;
}

.game-block .time-result {
	font-size: 1.2em;
	color: #041E42;
	font-weight: bold;
}
.game-block .links, .gaem-block .links a:hover {
	color: #0A2A50;
	font-size: 11px;
	line-height: 12px;
	text-decoration: none;
}

.game-block .links a {
	color: #041E42;
	font-size: 11px;
	text-decoration: underline;
	line-height: 12px;
}
 
/******************************************************/
/* Styles for the SCHEDULE SHORTCODE  */
/******************************************************/

.mstw-gs-table {
    border-collapse: collapse!important;
    border-spacing: 0px;
}

/* Set the table header attributes */
.mstw-gs-table-head thead,  .mstw-gs-table-head tr, .mstw-gs-table-head th {
    background-color: #4f81bd;
    color: #fff;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	border-spacing: 0px;
    border: 2px solid white;  /* So the border does not appear */
    padding: 6px 6px;
}

/* Set the even row attributes */
.mstw-gs-even tr,  .mstw-gs-even td {
	color: #000;
	background-color: #b8cce4;
	border-style: solid; 
	border-color: #fff; 
	border-width: 2px;
	padding: 6px 6px;
}

/* Set the even links */
.mstw-gs-even td a,  .mstw-gs-even td a:visited, .mstw-gs-even td a:active {
    text-decoration: underline;
    /*color: #4F81BD;*/
}

/* Set the even links hover */
.mstw-gs-even td a:hover {
    text-decoration: none;
    /*color: #666;*/
}

/* Set the odd row attributes */
.mstw-gs-odd tr, .mstw-gs-odd td {
	color: #000;
	background-color: #DBE5F1;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
	padding: 6px 6px;
}

/* Set the odd links */
.mstw-gs-odd td a,  .mstw-gs-odd td a:visited, .mstw-gs-odd td a:active {
    /*color: #4F81BD;*/
	text-decoration: underline;
}

/* Set the odd links hover */
.mstw-gs-odd td a:hover {
    text-decoration: none;
    /*color: #666;*/
}

/* Set the home row attributes */
.mstw-gs-home tr,  .mstw-gs-home td {
	font-weight: bold!important;
}

/* Set the home links */
.mstw-gs-home td a,  .mstw-gs-home td a:visited, .mstw-gs-home td a:active {
    font-weight: bold!important;
	text-decoration: underline;
}

.mstw-gs-home td a:hover {
    font-weight: bold!important;
	text-decoration: none;
}

img.mstw-gs-table-logo {
	vertical-align: middle;
	padding-right: 5px;
}

/******************************************************/
/* Styles for the SCHEDULE WIDGET  */
/******************************************************/
.mstw-gs-sw-tab {
    border-collapse: collapse!important;
    border-spacing: 0px;
}

/* Set the table header attributes */
.mstw-gs-sw-tab-head thead,  .mstw-gs-sw-tab-head tr, .mstw-gs-sw-tab-head th {
    background: #4f81bd;
    color: #fff;
	border-spacing: 0px;
    border: 2px solid white;  /* So the border does not appear */
    padding: 2px 5px 2px 3px;
}

/* Set the even row attributes */
.mstw-gs-sw-even tr,  .mstw-gs-sw-even td {
	color: #000;
	background-color: #B8CCE4;
	border-style: solid; 
	border-color: #fff; 
	border-width: 2px;
	padding: 2px 5px 2px 3px!important;
}

/* Set the even links */
.mstw-gs-sw-even td a,  .mstw-gs-sw-even td a:visited, .mstw-gs-sw-even td a:active {
    text-decoration: underline;
}

.mstw-gs-sw-even td a:hover {
	text-decoration: none;
}

/* Set the odd row attributes */
.mstw-gs-sw-odd tr, .mstw-gs-sw-odd td {
	color: #000;
	background-color: #DBE5F1;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
	padding: 2px 5px 2px 3px!important;
}

/* Set the odd links */
.mstw-gs-sw-odd td a,  .mstw-gs-sw-odd td a:visited, .mstw-gs-sw-odd td a:active {
    text-decoration: underline;
}

mstw-gs-sw-odd td a:hover {
    text-decoration: none;
}

/* Set the home row attributes */
.mstw-gs-sw-home tr,  .mstw-gs-sw-home td {
	font-weight: bold!important;
}

/* Set the home links 
.mstw-gs-sw-home td a,  .mstw-gs-sw-home td a:visited, .mstw-gs-sw-home td a:active {
    font-weight: bold!important;
	text-decoration: underline;
}

.mstw-gs-sw-home td a:hover {
	text-decoration: none;
}
*/

/******************************************************/
/* Styles for the Countdown Timer shortcode & widget  */
/******************************************************/
.mstw-gs-cdt-dtg {
	color: #000;
	font-weight: bold;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.mstw-gs-cdt-opponent, .mstw-gs-cdt-location {
	color: #000;
	font-weight: bold;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.mstw-gs-cdt-opponent a, .mstw-gs-cdt-location a {
	text-decoration: underline;
    /*color: #4F81BD;*/
}

.mstw-gs-cdt-opponent a:hover, .mstw-gs-cdt-location a:hover {
	text-decoration: none;
    /*color: #666;*/
}

.mstw-gs-cdt-intro {
	color: #000;
	font-weight: bold;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;	
}

.mstw-gs-cdt-countdown{
	color: #000;
	background: #d6d666;
}